$color-white: #FFFFFF;
$color-black: #FFFFFF;

$color-1: #E5EFC0;
$color-2: #A2D5AB;
$color-3: #39AEA9;
$color-4: #557B83;
$color-5: #5A5150;

$animation-duration-1: 1s;
$animation-duration-2: 5s;
$animation-duration-3: 9s;

$font-size: 11pt !default;
$font-fam-bold:  Proxima-Nova-Regular;
$font-fam-reg:  Proxima-Nova-Regular;
$font-fam-logo:  Proxima-Nova-ExtraBold;