$color-normal-base: #a5a573;
$color-normal-dark1: #8c8c5a;
$color-normal-dark2: #6d6d46;
$color-normal-light: #b9b992;

$color-grass-base: #78C850;
$color-grass-dark1: #5fae37;
$color-grass-dark2: #4a882b;
$color-grass-light: #96d477;

$color-fire-base: #ef752a;
$color-fire-dark1: #d55c10;
$color-fire-dark2: #a6470c;
$color-fire-light: #f39459;

$color-water-base: #5d88ef;
$color-water-dark1: #2e67ea;
$color-water-dark2: #154dd1;
$color-water-light: #8baaf4;

$color-fighting-base: #bc2e29;
$color-fighting-dark1: #922420;
$color-fighting-dark2: #691a17;
$color-fighting-light: #d64843;

$color-flying-base: #A890F0;
$color-flying-dark1: #8462ea;
$color-flying-dark2: #6135e3;
$color-flying-light: #cabcf6;

$color-poison-base: #994d96;
$color-poison-dark1: #773c75;
$color-poison-dark2: #552b53;
$color-poison-light: #b266b0;

$color-ground-base: #e1c16b;
$color-ground-dark1: #d8b041;
$color-ground-dark2: #be9627;
$color-ground-light: #e9d395;

$color-rock-base: #b09936;
$color-rock-dark1: #89772a;
$color-rock-dark2: #62551e;
$color-rock-light: #c9b34f;

$color-bug-base: #abbc29;
$color-bug-dark1: #859220;
$color-bug-dark2: #5f6917;
$color-bug-light: #c5d643;

$color-ghost-base: #6c5492;
$color-ghost-dark1: #544171;
$color-ghost-dark2: #3c2f51;
$color-ghost-light: #856dab;

$color-electric-base: #f8cf3a;
$color-electric-dark1: #f6c309;
$color-electric-dark2: #c59c07;
$color-electric-light: #fadb6b;

$color-psychic-base: #F65888;
$color-psychic-dark1: #f42563;
$color-psychic-dark2: #da0b49;
$color-psychic-light: #f986a8;

$color-ice-base: #90d5d5;
$color-ice-dark1: #6bc7c7;
$color-ice-dark2: #46b9b9;
$color-ice-light: #b5e3e3;

$color-dragon-base: #6e6ef7;
$color-dragon-dark1: #3d3df5;
$color-dragon-dark2: #0d0df2;
$color-dragon-light: #9e9efa;

$color-dark-base: #6d5546;
$color-dark-dark1: #4e3d32;
$color-dark-dark2: #2f251e;
$color-dark-light: #8c6e5a;

$color-steel-base: #b3b3cc;
$color-steel-dark1: #9494b8;
$color-steel-dark2: #7575a3;
$color-steel-light: #d1d1e0;

$color-fairy-base: #f9b9d0;
$color-fairy-dark1: #f58ab1;
$color-fairy-dark2: #f15b92;
$color-fairy-light: #fbd0e0;




$color-sword:#00A4EA;
$color-shield:#FF004D;