$color-normal-base: #A8A877 !default;
$color-normal-dark1: #97976B;
$color-normal-dark2: #86865F;
$color-normal-light1: #B0B084;
$color-normal-light2: #B9B992;

$color-grass-base: #78C850;
$color-grass-dark1: #6CB448;
$color-grass-dark2: #60A040;
$color-grass-light1: #85CD61;
$color-grass-light2: #93D373;

$color-fire-base: #F08038;
$color-fire-dark1: #D87132;
$color-fire-dark2: #C0642C;
$color-fire-light1: #F18A4B;
$color-fire-light2: #F3975F;

$color-water-base: #6890F0;
$color-water-dark1: #5D81D8;
$color-water-dark2: #5373C0;
$color-water-light1: #779BF1;
$color-water-light2: #86A6F3;

$color-fighting-base: #C0302A;
$color-fighting-dark1: #AC2A25;
$color-fighting-dark2: #992521;
$color-fighting-light1: #C6433F;
$color-fighting-light2: #CC5854;

$color-flying-base: #A890F0;
$color-flying-dark1: #9781D8;
$color-flying-dark2: #8673C0;
$color-flying-light1: #B09BF1;
$color-flying-light2: #B9A6F3;

$color-poison-base: #A1529F;
$color-poison-dark1: #90498E;
$color-poison-dark2: #80417E;
$color-poison-light1: #AA63A7;
$color-poison-light2: #B374B1;

$color-ground-base: #E0C068;
$color-ground-dark1: #C9AC5D;
$color-ground-dark2: #B39953;
$color-ground-light1: #E3C677;
$color-ground-light2: #E6CC86;

$color-rock-base: #B8A038;
$color-rock-dark1: #A59032;
$color-rock-dark2: #93802C;
$color-rock-light1: #BFAA4B;
$color-rock-light2: #C6B35F;

$color-bug-base: #A8B829;
$color-bug-dark1: #96A524;
$color-bug-dark2: #859320;
$color-bug-light1: #AFBF3E;
$color-bug-light2: #B8C653;

$color-ghost-base: #705898;
$color-ghost-dark1: #705898;
$color-ghost-dark2: #705898;
$color-ghost-light1: #705898;
$color-ghost-light2: #705898;

$color-electric-base: #F8D03D;
$color-electric-dark1: #DFBB36;
$color-electric-dark2: #C6A630;
$color-electric-light1: #F8D450;
$color-electric-light2: #F9D963;

$color-psychic-base: #F65888;
$color-psychic-dark1: #DD4F79;
$color-psychic-dark2: #C4466C;
$color-psychic-light1: #F66893;
$color-psychic-light2: #F7799F;

$color-ice-base: #98D8D8;
$color-ice-dark1: #88C2C2;
$color-ice-dark2: #79ACAC;
$color-ice-light1: #A2DBDB;
$color-ice-light2: #ACDFDF;

$color-dragon-base: #797AF8;
$color-dragon-dark1: #6c6cdf;
$color-dragon-dark2: #6060C6;
$color-dragon-light1: #8686F8;
$color-dragon-light2: #9393F9;

$color-dark-base: #705848;
$color-dark-dark1: #644F40;
$color-dark-dark2: #594639;
$color-dark-light1: #7E685A;
$color-dark-light2: #8C796C;

$color-steel-base: #B8B8D0;
$color-steel-dark1: #A5A5BB;
$color-steel-dark2: #9393A6;
$color-steel-light1: #BFBFD4;
$color-steel-light2: #C6C6D9;

$color-fairy-base: #F8ADC8;
$color-fairy-dark1: #DF9BB4;
$color-fairy-dark2: #C68AA0;
$color-fairy-light1: #F8B5CE;
$color-fairy-light2: #F9BDD3;