.responsive-50{
    height: 95%;
}

.normal{
    border-radius: 10px;
    background-color: $color-normal-dark2;
    color: $color-white;

    .content {
        background-color: $color-normal-dark2;
        height: 100px;
        border-radius: 10px;
    }

    .img {
        background-color: $color-normal-light;
        height: 100px;
        border-radius: 5px;
        border-top-left-radius: 50px;
        border-bottom-left-radius: 50px;
    }
}

.grass{
    border-radius: 10px;
    background-color: $color-grass-dark2;
    color: $color-white;

    .content {
        background-color: $color-grass-dark2;
        height: 100px;
        border-radius: 10px;
    }

    .img {
        background-color: $color-grass-light;
        height: 100px;
        border-radius: 5px;
        border-top-left-radius: 50px;
        border-bottom-left-radius: 50px;
    }
}

.fire{
    border-radius: 10px;
    background-color: $color-fire-dark2;
    color: $color-white;

    .content {
        background-color: $color-fire-dark2;
        height: 100px;
        border-radius: 10px;
    }

    .img {
        background-color: $color-fire-light;
        height: 100px;
        border-radius: 5px;
        border-top-left-radius: 50px;
        border-bottom-left-radius: 50px;
    }
}

.water{
    border-radius: 10px;
    background-color: $color-water-dark2;
    color: $color-white;

    .content {
        background-color: $color-water-dark2;
        height: 100px;
        border-radius: 10px;
    }

    .img {
        background-color: $color-water-light;
        height: 100px;
        border-radius: 5px;
        border-top-left-radius: 50px;
        border-bottom-left-radius: 50px;
    }
}

.fighting{
    border-radius: 10px;
    background-color: $color-fighting-dark2;
    color: $color-white;

    .content {
        background-color: $color-fighting-dark2;
        height: 100px;
        border-radius: 10px;
    }

    .img {
        background-color: $color-fighting-light;
        height: 100px;
        border-radius: 5px;
        border-top-left-radius: 50px;
        border-bottom-left-radius: 50px;
    }
}

.flying{
    border-radius: 10px;
    background-color: $color-flying-dark2;
    color: $color-white;

    .content {
        background-color: $color-flying-dark2;
        height: 100px;
        border-radius: 10px;
    }

    .img {
        background-color: $color-flying-light;
        height: 100px;
        border-radius: 5px;
        border-top-left-radius: 50px;
        border-bottom-left-radius: 50px;
    }
}

.poison{
    border-radius: 10px;
    background-color: $color-poison-dark2;
    color: $color-white;

    .content {
        background-color: $color-poison-dark2;
        height: 100px;
        border-radius: 10px;
    }

    .img {
        background-color: $color-poison-light;
        height: 100px;
        border-radius: 5px;
        border-top-left-radius: 50px;
        border-bottom-left-radius: 50px;
    }
}

.ground{
    border-radius: 10px;
    background-color: $color-ground-dark2;
    color: $color-white;

    .content {
        background-color: $color-ground-dark2;
        height: 100px;
        border-radius: 10px;
    }

    .img {
        background-color: $color-ground-light;
        height: 100px;
        border-radius: 5px;
        border-top-left-radius: 50px;
        border-bottom-left-radius: 50px;
    }
}

.rock{
    border-radius: 10px;
    background-color: $color-rock-dark2;
    color: $color-white;

    .content {
        background-color: $color-rock-dark2;
        height: 100px;
        border-radius: 10px;
    }

    .img {
        background-color: $color-rock-light;
        color: $color-white;
        height: 100px;
        border-radius: 5px;
        border-top-left-radius: 50px;
        border-bottom-left-radius: 50px;
    }
}
.bug{
    border-radius: 10px;
    background-color: $color-bug-dark2;
    color: $color-white;

    .content {
        background-color: $color-bug-dark2;
        height: 100px;
        border-radius: 10px;
    }

    .img {
        background-color: $color-bug-light;
        height: 100px;
        border-radius: 5px;
        border-top-left-radius: 50px;
        border-bottom-left-radius: 50px;
    }
}

.ghost{
    border-radius: 10px;
    background-color: $color-ghost-dark2;
    color: $color-white;

    .content {
        background-color: $color-ghost-dark2;
        height: 100px;
        border-radius: 10px;
    }

    .img {
        background-color: $color-ghost-light;
        height: 100px;
        border-radius: 5px;
        border-top-left-radius: 50px;
        border-bottom-left-radius: 50px;
    }
}

.electric{
    border-radius: 10px;
    background-color: $color-electric-dark2;
    color: $color-white;

    .content {
        background-color: $color-electric-dark2;
        height: 100px;
        border-radius: 10px;
    }

    .img {
        background-color: $color-electric-light;
        height: 100px;
        border-radius: 5px;
        border-top-left-radius: 50px;
        border-bottom-left-radius: 50px;
    }
}

.psychic{
    border-radius: 10px;
    background-color: $color-psychic-dark2;
    color: $color-white;

    .content {
        background-color: $color-psychic-dark2;
        height: 100px;
        border-radius: 10px;
    }

    .img {
        background-color: $color-psychic-light;
        height: 100px;
        border-radius: 5px;
        border-top-left-radius: 50px;
        border-bottom-left-radius: 50px;
    }
}

.ice{
    border-radius: 10px;
    background-color: $color-ice-dark2;
    color: $color-white;

    .content {
        background-color: $color-ice-dark2;
        height: 100px;
        border-radius: 10px;
    }

    .img {
        background-color: $color-ice-light;
        height: 100px;
        border-radius: 5px;
        border-top-left-radius: 50px;
        border-bottom-left-radius: 50px;
    }
}

.dragon{
    border-radius: 10px;
    background-color: $color-dragon-dark2;
    color: $color-white;

    .content {
        background-color: $color-dragon-dark2;
        height: 100px;
        border-radius: 10px;
    }

    .img {
        background-color: $color-dragon-light;
        height: 100px;
        border-radius: 5px;
        border-top-left-radius: 50px;
        border-bottom-left-radius: 50px;
    }
}

.dark{
    border-radius: 10px;
    background-color: $color-dark-dark2;
    color: $color-white;

    .content {
        background-color: $color-dark-dark2;
        height: 100px;
        border-radius: 10px;
    }

    .img {
        background-color: $color-dark-light;
        height: 100px;
        border-radius: 5px;
        border-top-left-radius: 50px;
        border-bottom-left-radius: 50px;
    }
}

.steel{
    border-radius: 10px;
    background-color: $color-steel-dark2;
    color: $color-white;

    .content {
        background-color: $color-steel-dark2;
        height: 100px;
        border-radius: 10px;
    }

    .img {
        background-color: $color-steel-light;
        height: 100px;
        border-radius: 5px;
        border-top-left-radius: 50px;
        border-bottom-left-radius: 50px;
    }
}

.fairy{
    border-radius: 10px;
    background-color: $color-fairy-dark2;
    color: $color-white;

    .content {
        background-color: $color-fairy-dark2;
        height: 100px;
        border-radius: 10px;
    }

    .img {
        background-color: $color-fairy-light;
        height: 100px;
        border-radius: 5px;
        border-top-left-radius: 50px;
        border-bottom-left-radius: 50px;
    }
}       

// ===========================================================================

@media screen and (max-width: 992px) {

    .normal{
        .content {
            height: 150px !important;
        }
    
        .img {
            height: 150px !important;
            border-top-left-radius: 150px !important;
            border-bottom-left-radius: 150px !important;
        }
    }

    .grass{
        .content {
            height: 150px !important;
        }
    
        .img {
            height: 150px !important;
            border-top-left-radius: 150px !important;
            border-bottom-left-radius: 150px !important;
        }
    }

    .fire{
        .content {
            height: 150px !important;
        }
    
        .img {
            height: 150px !important;
            border-top-left-radius: 150px !important;
            border-bottom-left-radius: 150px !important;
        }
    }

    .water{
        .content {
            height: 150px !important;
        }
    
        .img {
            height: 150px !important;
            border-top-left-radius: 150px !important;
            border-bottom-left-radius: 150px !important;
        }
    }

    .fighting{
        .content {
            height: 150px !important;
        }
    
        .img {
            height: 150px !important;
            border-top-left-radius: 150px !important;
            border-bottom-left-radius: 150px !important;
        }
    }

    .flying{
        .content {
            height: 150px !important;
        }
    
        .img {
            height: 150px !important;
            border-top-left-radius: 150px !important;
            border-bottom-left-radius: 150px !important;
        }
    }

    .poison{
        .content {
            height: 150px !important;
        }
    
        .img {
            height: 150px !important;
            border-top-left-radius: 150px !important;
            border-bottom-left-radius: 150px !important;
        }
    }
    
    .ground{
        .content {
            height: 150px !important;
        }
    
        .img {
            height: 150px !important;
            border-top-left-radius: 150px !important;
            border-bottom-left-radius: 150px !important;
        }
    }

    .rock{
        .content {
            height: 150px !important;
        }
    
        .img {
            height: 150px !important;
            border-top-left-radius: 150px !important;
            border-bottom-left-radius: 150px !important;
        }
    }

    .bug{
        .content {
            height: 150px !important;
        }
    
        .img {
            height: 150px !important;
            border-top-left-radius: 150px !important;
            border-bottom-left-radius: 150px !important;
        }
    }

    .ghost{
        .content {
            height: 150px !important;
        }
    
        .img {
            height: 150px !important;
            border-top-left-radius: 150px !important;
            border-bottom-left-radius: 150px !important;
        }
    }

    .electric{
        .content {
            height: 150px !important;
        }
    
        .img {
            height: 150px !important;
            border-top-left-radius: 150px !important;
            border-bottom-left-radius: 150px !important;
        }
    }

    .psychic{
        .content {
            height: 150px !important;
        }
    
        .img {
            height: 150px !important;
            border-top-left-radius: 150px !important;
            border-bottom-left-radius: 150px !important;
        }
    }

    .ice{
        .content {
            height: 150px !important;
        }
    
        .img {
            height: 150px !important;
            border-top-left-radius: 150px !important;
            border-bottom-left-radius: 150px !important;
        }
    }

    .dragon{
        .content {
            height: 150px !important;
        }
    
        .img {
            height: 150px !important;
            border-top-left-radius: 150px !important;
            border-bottom-left-radius: 150px !important;
        }
    }

    .dark{
        .content {
            height: 150px !important;
        }
    
        .img {
            height: 150px !important;
            border-top-left-radius: 150px !important;
            border-bottom-left-radius: 150px !important;
        }
    }

    .steel{
        .content {
            height: 150px !important;
        }
    
        .img {
            height: 150px !important;
            border-top-left-radius: 150px !important;
            border-bottom-left-radius: 150px !important;
        }
    }

    .fairy{
        .content {
            height: 150px !important;
        }
    
        .img {
            height: 150px !important;
            border-top-left-radius: 150px !important;
            border-bottom-left-radius: 150px !important;
        }
    }
  }