.pokedex-content{
    border-radius: 10px;
    background-color: $color-normal-dark2;
}

.normal-content {
    background-color: $color-normal-dark2;
    color: $color-white;
    height: 100px;
    border-radius: 10px;
}

.normal-img {
    background-color: $color-normal-light2;
    color: $color-white;
    height: 100px;
    border-radius: 5px;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    
}