.background-1 {
    background-color: $color-1 !important;
    color: $color-white !important;
}

.background-2 {
    background-color: $color-2 !important;
    color: $color-white !important;
}

.background-3 {
    background-color: $color-white !important;
    color: $color-black !important;
}

.pokedex-panel{
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.level-icon {
    width: 100px;
    height: 100px;
    border-radius: 2px;
}

.level-image {
    width: 230px;
    height: 230px;
    border-radius: 2px;
    border: 2px solid $color-2;
}

.v-center-text{
    vertical-align: center;
    line-height: 1em;
}

.icon-img{
    height: 1.2em;
}

.index-1{
    z-index: 1;
}

.index-0{
    z-index: 0;
}

.loading{
    background-color: #fbe9e7;

    margin: 0;
    position: fixed;
    top: 0px;
    right: 0px;
    z-index: 2;
    overflow: hidden !important;
}


.sword{
    background-color: $color-sword;
    color:$color-white;
    padding: 3px;
    font-family: $font-fam-ebold;
}
.shield{
    background-color: $color-shield;
    color: $color-white;
    padding: 3px;
    font-family: $font-fam-ebold;
}