
.title-big{
    font-family: $font-fam-bold;
    font-size: 4em;
    color: $color-2;
}

.title-medium{
    font-family: $font-fam-reg;
    font-size: 1.3em;
    color: $color-white;
}

.small-font{
    font-size: 0.8em;
    color: $color-1;
}

.logo-font{
    font-family: $font-fam-logo;
    font-size: 2.5em;
}

.nav-font{
    color: $color-white;
}

// FONT STYLES
.font-bold {
font-weight: bold; }

.font-italic {
font-style: italic; }

.font-underline {
text-decoration: underline; }

.font-line-through {
text-decoration: line-through; }

.font-overline {
text-decoration: overline; }

.font-0-1x{
    font-size: 0.1em;
}

.font-0-3x{
    font-size: 0.3em;
}

.font-0-5x{
    font-size: 0.5em;
}

.font-0-7x{
    font-size: 0.7em;
}

.font-0-9x{
    font-size: 0.9em;
}

.font-1-1x{
    font-size: 1.1em;
}

.font-1-3x{
    font-size: 1.3em;
}

.font-1-5x{
    font-size: 1.5em;
}

.font-1-7x{
    font-size: 1.7em;
}

.font-1-9x{
    font-size: 1.9em;
}

.font-2x{
    font-size: 2em;
}

.font-2-5x{
    font-size: 2.5em;
}

.font-3x{
    font-size: 3em;
}