.background {
    background-color: $color-1;
    color: $color-2;
}

.header {
    background-color: $color-4;
    font-family: $font-fam-1;
    color: $color-2;
    height: 10%;
    z-index: 1;
    margin-top: auto;
    margin-bottom: auto;
}

.footer {
    background-color: $color-1;
    font-family: $font-fam-1;
    color: $color-2;
    height: 5%;
    z-index: 1;
    margin-top: auto;
    margin-bottom: auto;
}

.body {
    background-color: $color-1;
    color: $color-2;
    height: 85%;
    z-index: 1;
}

.panel {
    background-color: $color-2;
    color: $color-1;
    overflow: scroll;
    border-radius: 0.3em;
}

.level-icon {
    width: 100px;
    height: 100px;
    border-radius: 2px;
}

.level-image {
    width: 230px;
    height: 230px;
    border-radius: 2px;
    border: 2px solid $color-2;
}

.v-center-text{
    vertical-align: center;
    line-height: 1em;
}