.width-per-0 {
width: 0%; }

.width-per-1 {
width: 1%; }

.width-per-2 {
width: 2%; }

.width-per-3 {
width: 3%; }

.width-per-4 {
width: 4%; }

.width-per-5 {
width: 5%; }

.width-per-6 {
width: 6%; }

.width-per-7 {
width: 7%; }

.width-per-8 {
width: 8%; }

.width-per-9 {
width: 9%; }

.width-per-10 {
width: 10%; }

.width-per-11 {
width: 11%; }

.width-per-12 {
width: 12%; }

.width-per-13 {
width: 13%; }

.width-per-14 {
width: 14%; }

.width-per-15 {
width: 15%; }

.width-per-16 {
width: 16%; }

.width-per-17 {
width: 17%; }

.width-per-18 {
width: 18%; }

.width-per-19 {
width: 19%; }

.width-per-20 {
width: 20%; }

.width-per-21 {
width: 21%; }

.width-per-22 {
width: 22%; }

.width-per-23 {
width: 23%; }

.width-per-24 {
width: 24%; }

.width-per-25 {
width: 25%; }

.width-per-26 {
width: 26%; }

.width-per-27 {
width: 27%; }

.width-per-28 {
width: 28%; }

.width-per-29 {
width: 29%; }

.width-per-30 {
width: 30%; }

.width-per-31 {
width: 31%; }

.width-per-32 {
width: 32%; }

.width-per-33 {
width: 33%; }

.width-per-34 {
width: 34%; }

.width-per-35 {
width: 35%; }

.width-per-36 {
width: 36%; }

.width-per-37 {
width: 37%; }

.width-per-38 {
width: 38%; }

.width-per-39 {
width: 39%; }

.width-per-40 {
width: 40%; }

.width-per-41 {
width: 41%; }

.width-per-42 {
width: 42%; }

.width-per-43 {
width: 43%; }

.width-per-44 {
width: 44%; }

.width-per-45 {
width: 45%; }

.width-per-46 {
width: 46%; }

.width-per-47 {
width: 47%; }

.width-per-48 {
width: 48%; }

.width-per-49 {
width: 49%; }

.width-per-50 {
width: 50%; }

.width-per-51 {
width: 51%; }

.width-per-52 {
width: 52%; }

.width-per-53 {
width: 53%; }

.width-per-54 {
width: 54%; }

.width-per-55 {
width: 55%; }

.width-per-56 {
width: 56%; }

.width-per-57 {
width: 57%; }

.width-per-58 {
width: 58%; }

.width-per-59 {
width: 59%; }

.width-per-60 {
width: 60%; }

.width-per-61 {
width: 61%; }

.width-per-62 {
width: 62%; }

.width-per-63 {
width: 63%; }

.width-per-64 {
width: 64%; }

.width-per-65 {
width: 65%; }

.width-per-66 {
width: 66%; }

.width-per-67 {
width: 67%; }

.width-per-68 {
width: 68%; }

.width-per-69 {
width: 69%; }

.width-per-70 {
width: 70%; }

.width-per-71 {
width: 71%; }

.width-per-72 {
width: 72%; }

.width-per-73 {
width: 73%; }

.width-per-74 {
width: 74%; }

.width-per-75 {
width: 75%; }

.width-per-76 {
width: 76%; }

.width-per-77 {
width: 77%; }

.width-per-78 {
width: 78%; }

.width-per-79 {
width: 79%; }

.width-per-80 {
width: 80%; }

.width-per-81 {
width: 81%; }

.width-per-82 {
width: 82%; }

.width-per-83 {
width: 83%; }

.width-per-84 {
width: 84%; }

.width-per-85 {
width: 85%; }

.width-per-86 {
width: 86%; }

.width-per-87 {
width: 87%; }

.width-per-88 {
width: 88%; }

.width-per-89 {
width: 89%; }

.width-per-90 {
width: 90%; }

.width-per-91 {
width: 91%; }

.width-per-92 {
width: 92%; }

.width-per-93 {
width: 93%; }

.width-per-94 {
width: 94%; }

.width-per-95 {
width: 95%; }

.width-per-96 {
width: 96%; }

.width-per-97 {
width: 97%; }

.width-per-98 {
width: 98%; }

.width-per-99 {
width: 99%; }

.width-per-100 {
width: 100%; }

.height-vh-5 {
height: 5vh;
}