.w-80{
    width: 80% !important;
}

.w-65{
    width: 65% !important;
}

.w-80-vw{
    width: 80vh !important;
}

.w-20{
    width: 20% !important;
}

.w-10{
    width: 10% !important;
}

.h-80{
    height: 80% !important;
}

.h-80-vh{
    height: 80vh !important;
}

.h-20{
    height: 20% !important;
}

.h-10{
    height: 10% !important;
}

.p-02{
    padding: 0.2em !important;
}

.pr-2{
    padding-right: 2em !important;
}

.pl-2{
    padding-left: 2em !important;
}


.pt-10{
    padding-top: 10vh;
}

.pt-95{
    padding-top: 95vh;
}

.no-padding{
    padding: 0;
}