<mat-sidenav-container class="sidenav-container">

  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
    <div class="container">
      <div class="row">

        <div class="col d-flex align-items-center justify-content-center height-vh-10">
            <img class="icon font-1-3x align-div-mid " src="assets/pictures/icon/logo.png" alt="">
          
            <span class="pl-2 font-1-5x">
              DexTre
            </span>
        </div>
      </div>
    </div>


    <div class="text-center">
      <a [routerLink]="['/home']" >Home</a>
      <br>
      <a [routerLink]="['/pokedex']" >Pokedex</a>
    </div>
  </mat-sidenav>

  <!-- CONTENT -->
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>{{name}}</span>
    </mat-toolbar>
   <router-outlet></router-outlet>
  </mat-sidenav-content>

</mat-sidenav-container>
