<mat-sidenav-container class="sidenav-container">

  <mat-sidenav #drawer class="sidenav background" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">

        <mat-toolbar class="logo-background">
          <img class="icon center-inherit-content" src="assets/pictures/icon/pokeball.svg" alt="">
          <span class="pl-2 logo-font">
            DexTre
          </span>
        </mat-toolbar>
    <div class="container">
      <div class="row padding-10 nav-hover">
        <div class="col center-left-col">
            <img class="icon ml-4 center-inherit-content" src="assets/pictures/icon/pikachu-2.svg" alt="">
            <span class="pl-2 nav-font" [routerLink]="['/home']" > 
              Credits
            </span>
        </div>
      </div>

      <div class="row padding-10 nav-hover">
        <div class="col center-left-col">
            <img class="icon ml-4 center-inherit-content" src="assets/pictures/icon/pokedex.svg" alt="">
            <span class="pl-2 nav-font" [routerLink]="['/pokedex']" >
              Pokedex
            </span>
        </div>
      </div>

    </div>

  </mat-sidenav>

  <!-- CONTENT -->
  <mat-sidenav-content>
    <mat-toolbar class="logo-background">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>{{name}}</span>
    </mat-toolbar>
   <router-outlet class="background"></router-outlet>

  
  </mat-sidenav-content>

</mat-sidenav-container>
