<div class="container">
	<ng-container *ngFor="let pokemon of pokedex">
			<div class="row pokedex-panel">


					<div class="col {{pokemon.type.standard[0]}}">
						<div class="row">
							<ng-container *ngIf="pokemon.show_content=='mainData'">
								<div class="col-9 content">

										<div class="row height-per-50"> <!-- upper division -->
											<div class="col-3 center-left-col">
												{{pokemon.id}} <br>
												{{pokemon.name}}
											</div>

											<div class="col-9 center-center-col">
												<div class="row height-per-50 w-100">
													<ng-container *ngIf="pokemon.type.standard[1]; else oneType">
														<div class="col-6 padding-0 pr-2">
															<div class="panel {{pokemon.type.standard[0]}}-base center-center-col">
																{{pokemon.type.standard[0] | uppercase}}
															</div>
														</div>

														<div class="col-6 padding-0 pr-2">
															<div class="panel {{pokemon.type.standard[1]}}-base center-center-col">
																{{pokemon.type.standard[1] | uppercase}}
															</div>
														</div>
													</ng-container>

													<ng-template #oneType>
															<div class="col-12 padding-0 center-center-col">
																<div class="panel {{pokemon.type.standard[0]}}-base text-center">
																		{{pokemon.type.standard[0] | uppercase}}
																	</div>
															</div>
														</ng-template>
												</div>
											</div>
										</div> <!-- upper division end -->

										<div class="row height-per-50"> <!-- lower division -->
											<div class="col-6 center-center-col pointer" (click)="onClickOffense(pokemon)">
												<div class="panel-2 {{pokemon.type.standard[0]}} text-center padding-5">
													OFFENSE
												</div>
											</div>

											<div class="col-6 center-center-col pointer" (click)="onClickDefender(pokemon)">
												<div class="panel-2 {{pokemon.type.standard[0]}} text-center padding-5">
													DEFENDER
												</div>
											</div>
										</div> <!-- lower division end -->

									</div> <!-- content end -->
							</ng-container>

							<ng-container *ngIf="pokemon.show_content=='offenseData'">
								<div class="col-9 content" (click)="onClickReturn(pokemon)">
									<div class="row"> <!-- upper division -->
										<div class="col-3 center-left-col">
											OFFENSE
										</div>
									</div>
								</div>
							</ng-container>

							<ng-container *ngIf="pokemon.show_content=='defenderData'">
								<div class="col-9 content" (click)="onClickReturn(pokemon)">
									Offense
								</div>
							</ng-container>

									<div class="col-3 img center-center-col">
										<img src={{pokemon.img_link}} alt={{pokemon.name}} height="80" width="80">
									</div>
						</div>
					</div>

			</div>
	</ng-container>
</div>
