<div class="" *ngIf="data; else hello">
    <div class="col-12" style="text-align: center; padding-top: 30px;width: 400px;">

    <img src="{{id}}" height="100" width="100" alt="{{data['name']}}">
    <h2>{{data['name']}}</h2>
    <div class="col-12" style="text-align: center;">
        <h4>{{data['class']}}</h4>
    </div>

    <div
     class="col-12">
        <ul style="text-align: center;">
            <li *ngFor="let pokemon of data['evolutionChain'].chain" style="display: inline;">
                {{pokemon}}
            </li>
        </ul>
    </div
    >

    <div class="row rowTab" style="padding:10px 10px;">
        <div class="col-8 colTab" style="padding:5px 5px; margin-right:-1px;">
            <h4>Information</h4>

        </div>  
       
        <div class="col-4 colTab" style="padding: 5px 5px; ">
            <h4>Stats</h4>
            <p><strong>HP: </strong>{{data['baseStats']['HP']}}</p>
        </div>
    </div>
    

</div>
</div>


<ng-template #hello>
    <div class="">
        <div class="col" style="text-align: center; padding-top: 30px;">
            <h2>No current data</h2>
            <button><a href="/pokedex">Go Back</a></button>
        </div>
    </div>
</ng-template>