img{
    text-align: center;
    border-radius: 50%;
    background-color: rgb(10, 228, 173);
}

.rowTab .colTab{
    border: 2px solid transparent;
    border-radius: 10px;
    background-color:rgba(10, 228, 173,0.5) ;
}
