
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';
@import 'assets/css/variables/config.scss';
@import 'assets/css/variables/font_import.scss';
@import 'assets/css/variables/pokedex_colors.scss';

@import 'assets/css/utility/_animations.scss';
@import 'assets/css/utility/alignment.scss';
@import 'assets/css/utility/content_util.scss';
@import 'assets/css/utility/positioning.scss';
@import 'assets/css/utility/sizing.scss';

@import 'assets/css/designing/actions.scss';
@import 'assets/css/designing/buttons.scss';
@import 'assets/css/designing/divs.scss';
@import 'assets/css/designing/fonts.scss';
@import 'assets/css/designing/input.scss';

// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$framework-primary: mat-palette($mat-indigo);
$framework-accent: mat-palette($mat-pink, A200, A100, A400);

// The warn palette is optional (defaults to red).
$framework-warn: mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$framework-theme: mat-light-theme($framework-primary, $framework-accent, $framework-warn);
@include angular-material-theme($framework-theme);

/* You can add global styles to this file, and also import other style files */
html, body {
    height: 100%;
    font-size: $font-size;
    font-family: $font-fam-reg;
}
